
/* bring in fonts in the order they are used */
/* ALL CSS goes here--NONE in main.js or index.html */


/* using :root for initialization of global CSS variables */
:root {
  --slides-width: 640px;
}

body {
  text-align: center;
}

h1 {
}

.carousel {
  width: var(--slides-width, 640px);
  position: fixed;
  left: calc(50% - (var(--slides-width, 640px) / 2));
  z-index: 1;
}

.carousel-navigation {
  overflow: clip;
  z-index: 2;
}

.carousel-slides {
  position: relative;
  display: flex;
  z-index: 3;
}

.slides {
  width: var(--slides-width, 640px);
  display: inherit;
  flex-direction: column;
  position: absolute;
  transition: 250ms;
}

/* album names */
.slides h2 {

}

/* artist names/links */
.slides a {

}

/* cover images */
.slides img {

}

/* cover image credits */
.slides h4 {

}

/* review contents */
.slides p {
  text-align: left;
}

/* review source/links */
.slides h3 {

}
