
/* bring in fonts in the order they are used */
/* ALL CSS goes here--NONE in main.js or index.html */


/* using :root for initialization of global CSS variables */
:root {
  --slides-width: 640px;
}

body {
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-size: 32px;
  line-height: calc(32px + 38px);
}

.carousel {
  width: calc(var(--slides-width, 640px) + 40px);
  overflow-x: clip;
  position: fixed;
  left: calc(50% - ((var(--slides-width, 640px) + 40px) / 2));
  z-index: 1;
}

.carousel-navigation a {
  position: absolute;
  top: calc(427px / 2);
  z-index: 3;
  left: 30px;
}

.carousel-navigation a:last-of-type {
  left: calc(100% - 60px);
}

.carousel-slides {
  position: relative;
  z-index: 2;
}

.slides {
  width: var(--slides-width, 640px);
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  transition: 250ms;
}

/* album names */
.slides h2 {

}

/* artist names/links */
.slides a {

}

/* cover images */
.slides img {

}

/* cover image credits */
.slides h4 {

}

/* review contents */
.slides p {
  text-align: left;
}

/* review source/links */
.slides h3 {

}
